/* Global CSS Reset ve Temel Ayarlar */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&family=Barlow:wght@300;400;500;600;700&family=Quattrocento:wght@400;700&family=Satisfy&display=swap');

:root {
  --color-yellow: #FDC913;
  --color-light-gray: #5F5F5F;
  --color-dark-gray: #292929;
  --color-red: #CE2829;
  --color-beige: #FAF7F2;
  
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
}

body {
  font-family: 'Barlow', sans-serif;
  line-height: 1.5;
  color: var(--color-dark-gray);
  background-color: var(--color-beige);
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
}
